# Q1: Print all elements of a list using for loop

In [1]:
##Heading
print('-----Elements in List-----')

##Naming and printing the list
Name = ['Justina', 'Ameenah', 'Cecilia', 'Balkisu', 'Chinyere']
for n in Name:
    print (n)

-----Elements in List-----
Justina
Ameenah
Cecilia
Balkisu
Chinyere

# Q2A: All Even Numbers between 1-100

In [2]:
##Heading
print('***Even Numbers***')

##Printing Even Numbers
for i in range(1,101):
    if i %2==0:
        print(str(i) + ' is an even number')

***Even Numbers***
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number
20 is an even number
22 is an even number
24 is an even number
26 is an even number
28 is an even number
30 is an even number
32 is an even number
34 is an even number
36 is an even number
38 is an even number
40 is an even number
42 is an even number
44 is an even number
46 is an even number
48 is an even number
50 is an even number
52 is an even number
54 is an even number
56 is an even number
58 is an even number
60 is an even number
62 is an even number
64 is an even number
66 is an even number
68 is an even number
70 is an even number
72 is an even number
74 is an even number
76 is an even number
78 is an even number
80 is an even number
82 is an even number
84 is an even number
86 is an even number
88 is an even number
90 is an even number
92 is an even number
94 is an even number
96 is an even number
98 is an even number
100 is an even number

# Q2B: All Odd Numbers between 1-100

In [3]:
##Heading
print('***Odd Numbers***')

##Printing Odd Numbers
for i in range(1, 101):
    if i%2 != 0:
        print(str(i) + ' is an odd number')

***Odd Numbers***
1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number
11 is an odd number
13 is an odd number
15 is an odd number
17 is an odd number
19 is an odd number
21 is an odd number
23 is an odd number
25 is an odd number
27 is an odd number
29 is an odd number
31 is an odd number
33 is an odd number
35 is an odd number
37 is an odd number
39 is an odd number
41 is an odd number
43 is an odd number
45 is an odd number
47 is an odd number
49 is an odd number
51 is an odd number
53 is an odd number
55 is an odd number
57 is an odd number
59 is an odd number
61 is an odd number
63 is an odd number
65 is an odd number
67 is an odd number
69 is an odd number
71 is an odd number
73 is an odd number
75 is an odd number
77 is an odd number
79 is an odd number
81 is an odd number
83 is an odd number
85 is an odd number
87 is an odd number
89 is an odd number
91 is an odd number
93 is an odd number
95 is an odd number
97 is an odd number
99 is an odd number

# Q3: Calculate Employee's Bonus

In [4]:
##Getting employee's salary and years of service as an integer
salary = int(input('How much do you earn?: '))
YOS = int(input('How many years have you worked with us?: '))

##Calculating bonus if criteria is met
if YOS >= 5:
    print ('Net bonus is ' + str(0.05*salary))
else:
    print('You do not qualify for a bonus')

How much do you earn?: 50000
How many years have you worked with us?: 7
Net bonus is 2500.0

# Q4: Oldest and Youngest user

In [5]:

##Getting Users' Ages
User1 = input('How old are you?: ')
User2 = input('How old are you?: ')
User3 = input('How old are you?: ')

##Putting users' ages in a list
Ages = [User1, User2, User3]


##Getting the minimum age
min= Ages[0]
for a in Ages:
    if a < min:
        min = a
print('Youngest user is ' + min + ' years old')

##Getting the maximum age
max= Ages[0]
for m in Ages:
    if m > max:
        max = m
print('Oldest user is ' + max + ' years old')

How old are you?: 18
How old are you?: 24
How old are you?: 21
Youngest user is 18 years old
Oldest user is 24 years old

# Q5: Calculate Student's Grade

In [22]:
##User's scores
Mathematics= int(input('What did you score in Mathematics?: '))
English = int(input('What did you score in English Language?: '))
Education = int(input('What did you score in Education?: '))
ICT = int(input('What did you score in ICT?: '))

Grade = [Mathematics, English, Education, ICT]


##Classifying score into a grade

for s in Grade:
    if s <25:
        print('F')
    elif s <45:
        print('E')
    elif s <50:
        print('D')
    elif s <60:
        print('C')
    elif s <=80:
        print('B')
    else:
        print('A' )

What did you score in Mathematics?: 58
What did you score in English Language?: 76
What did you score in Education?: 81
What did you score in ICT?: 63
C
B
A
B

# Q6: Merging two Dictionaries

In [21]:
##defining function merge 
def merge(dict1, dict2):
    """"
    Merges dictionary 1 and 2
    """
    dict=dict1.copy()
    dict.update(dict2)
    print(dict)
    
    
##Using function
Science = {'Ade':16, 'David':15, 'Damilola':16}
Arts = {'Deborah':17, 'Amina':15, 'Chiamaka':16}
merge(Science, Arts)

{'Ade': 16, 'David': 15, 'Damilola': 16, 'Deborah': 17, 'Amina': 15, 'Chiamaka': 16}

# Q7: Removing Key from a dictionary

In [20]:
##Defining Function remove
def remove(dict, key):
    
    """"
    removes key from
    the dictionary
    """
    
    del dict[key]
    print(dict)
    
  ##Using fuunction  
Family = {'Father': 'Adam', 'Mother':'Eve', 'Child': 'Abel'}
remove(Family, 'Child')

{'Father': 'Adam', 'Mother': 'Eve'}

# Q8: Getting largest number from a list

In [10]:
##Defining function MAX
def MAX(num_list):
    """"
    This function returns the 
    largest number in a list
    """

    Max = num_list[0]
    for i in Num:
        if i > Max:
            Max = i
    print(Max)
##Using function
Num = [2, 4, -8, 7, 1, 5]
MAX(Num)

7